div#content {
  // Avoid adding a vertical scrollbar after using visibility: collapse
  overflow-y: hidden;
}

table.results {
  td.satoriEnhancementsProblemHide {
    text-align: center;

    & > a:hover {
      cursor: pointer;
    }
  }

  .satori-enhancements-collapsed {
    visibility: collapse;
  }

  tr.satoriEnhancementsEven {
    background-color: #F3F3FC !important;
  }
  tr.satoriEnhancementsOdd {
    background-color: #E3E3FC !important;
  }

  td.satori-enhancements-status-ok {
    background-color: #D9F7C2;
  }

  td.satori-enhancements-status-err {
    background-color: #F8C3D2;
  }
}
