div#content {
    // Avoid adding a vertical scrollbar after using visibility: collapse
    overflow-y: hidden;
}

table.results {
    td.satoriEnhancementsProblemHide {
        text-align: center;

        & > a:hover {
            cursor: pointer;
        }
    }

    .satori-enhancements-collapsed {
        visibility: collapse;
    }

    tr.satoriEnhancementsEven {
        background-color: #f3f3fc !important;
    }
    tr.satoriEnhancementsOdd {
        background-color: #e3e3fc !important;
    }

    td.satori-enhancements-status-ok {
        background-color: #d9f7c2;
    }

    td.satori-enhancements-status-que {
        background-color: #fff2c8;
    }

    td.satori-enhancements-status-int {
        background-color: #94f7fc;
    }

    td.satori-enhancements-status-err {
        background-color: #f8c3d2;
    }
}
