table.results {
  td.satoriEnhancementsProblemHide {
    text-align: center;

    & > a:hover {
      cursor: pointer;
    }
  }

  .satori-enhancements-collapsed {
    visibility: collapse;
  }

  tr.satoriEnhancementsEven {
    background-color: #F3F3FC !important;
  }
  tr.satoriEnhancementsOdd {
    background-color: #E3E3FC !important;
  }
}
