#content {
    max-width: 600px;

    table {
        width: 100%;

        td:first-child,
        th:first-child {
            width: 0;
            padding-right: 5px;
        }

        td {
            select,
            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
            }

            textarea {
                resize: vertical;
                min-height: 100px;
                height: 200px;
            }
        }
    }

    input[type='submit'] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
