#content {
  table {
    width: 100%;

    td {
      select, input, textarea {
        width: 100%;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
        height: 200px;
      }
    }
  }
}
